body {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.display {
  margin: 10px;
  height: 80%;
  width: calc(100% - 28px);
  resize: none;
  font-size: large;
}

.inputRow {
  display: flex;
  width: 100%;
}

.inputRow>input,button {
  margin: 10px;
  height: 5%;
  font-size: large;
}

.name {
  width: calc(10% - 28px);
}

.input {
  width: calc(75% - 28px);
}

.sendButton {
  width: 100px;
}